<style>
	.article-footer {
		padding-top: 16px;
		border-top: 1px solid var(--accent-color);
	}

	.team-link.team-nii {
		background-color: #ae86bb !important;
		color: #000 !important;
	}

	.team-link.team-sii {
		background-color: #90cbeb !important;
		color: #000 !important;
	}

	.team-link.team-hii {
		background-color: #f39801 !important;
		color: #fff !important;
	}

	.team-link.team-x {
		background-color: #a9cc27 !important;
		color: #000 !important;
	}

	.article-page .main-article .article-header .article-image img {
		max-height: unset;
	}

</style>